<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
    }

    h3 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    form {
        margin-bottom: 20px;
        text-align: center;
    }

    input[type="text"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
<h3><%=employee.name%></h3>
<form action = "/api/employeeManagement/reviewAssigned/<%=adminId%>" method = "post">
<input type = "text" name = "employeeName" placeholder="Enter Employee's Name to Assign Review">
<button type="submit">Assign</button>
</form>
