<!DOCTYPE html>
<html>
<head>
    <title>Employee Review Management System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        
        form {
            margin: 20px;
            text-align: center;
        }

        button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <form action="/api/employeeManagement/adminLogin" method="get">
        <button type="submit">Login for Admin</button>
    </form>
    <form action="/api/employeeManagement/renderEmployeeLogin" method="get">
        <button type="submit">Login for Employee</button>
    </form>
</body>
</html>
